.home-container {
  /* background-color: #e5f4ff; */
  height: 100vh;
}

.carousal-image {
  /* height: 100px; */
}

@media (min-width: 768px) {
  .carousal-image {
    height: 400px;
  }
}
@media (min-width: 990px) {
  .carousal-image {
    height: 600px;
  }
}
