@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #243147;
}

/* .small-heading {
  color: ;
} */
.color-text {
  color: rgb(37, 37, 38);
}
.custom-button {
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  background-color: #243147 !important;
  border: none !important;
}
.custom-button:hover {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-0.6px);
}
.custom-button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  transform: translateY(-0.3px);
}
