@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #243147;
}
body {
  background-color: rgb(209, 173, 60);
}
/* .small-heading {
  color: ;
} */
.color-text {
  color: rgb(37, 37, 38);
}
